@font-face {
	font-family: "icons";
	src: url("fonts/icons.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(fonts/SourceSansPro-Light.ttf) format('truetype');
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	top: 0.15em;
}

.icon-docs:before {
	content: "\61";
}
.icon-github:before {
	content: "\62";
}
.icon-patreon:before {
	content: "\63";
}
.icon-facebook:before {
	content: "\64";
}
.icon-download:before {
	content: "\65";
}
.icon-donate:before {
	content: "\66";
}
.icon-discord:before {
	content: "\67";
}
.icon-discourse:before {
	content: "\68";
}
.icon-play:before {
	content: "\69";
}
.icon-plugins:before {
	content: "\78";
	font-size: 1.3em;
	position: relative;
	top: 0px;
	vertical-align: bottom;
}
.icon-code:before {
	content: "\79";
}
.icon-lua:before {
	content: "\70";
	font-size: 4.0em;
}
.icon-native:before {
	content: "\71";
	font-size: 4.0em;
}
.icon-production:before {
	content: "\72";
	font-size: 4.0em;
}
.icon-free:before {
	content: "\73";
	font-size: 4.0em;
}
.icon-multiplatfrom:before {
	content: "\74";
	font-size: 4.0em;
}
.icon-opensource:before {
	content: "\75";
	font-size: 4.0em;
}
.icon-lock:before {
	content: "\76";
	font-size: 4.0em;
}
.icon-plugin:before {
	content: "\78";
	font-size: 4.0em;
}
.icon-people:before {
	content: "\79";
	font-size: 4.0em;
}
.icon-fast:before {
	content: "\60";
	font-size: 4.0em;
}

head,
body {
	height: 100%;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	background: #15073e;
	color: #fff;
	margin: 0;
}

.nav-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

nav {
	display: grid;
	max-width: 1200px;
	justify-content: flex-end;
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 1em auto;
	gap: 1em;
}

.nav-overlay {
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.nav-overlay-close {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 2rem;
	position: absolute;
	top: 1em;
	right: 1em;
}

.nav-toggle {
	display: none;
	width: 48px;
	height: 48px;
	background: transparent;
	border: none;
	color: white;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
}

.nav-left,
.nav-right {
	display: flex;
	justify-content: center;
	gap: 1.5em;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
}

.nav-left > a:hover > span {
	text-decoration: underline;
}

.nav-left > .icon-donate {
	color: hsl(153deg 47% 73%);
}

.nav-right {
	margin-left: auto;
}

.nav-right > .icon {
	opacity: 0.8;
	transition: opacity 250ms ease-out;
}

.nav-right > .icon:hover {
	opacity: 1;
}

.hero {
	--gradient: linear-gradient(to right, #efefef 15%, transparent);
	min-height: 65vh;
	padding: 3em;
	margin: 5em 1em 0 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	background-attachment: fixed;
	color: #0b0146;
	position: relative;
}

.hero h1 {
	font-weight: bold;
	margin: 0;
	font-size: 3.2rem;
}

.hero h2 {
	font-size: 1.5rem;
	font-weight: 200;
	margin-bottom: 0;
	max-width: 45ch;
}

.hero .inner {
	margin: 2em auto;
	max-width: 1200px;
}

.hero .logo {
	width: 200px;
	height: auto;
}

.hero .description {
	max-width: 45ch;
	font-size: 1.1rem;
	font-weight: 200;
}

.hero .demo-info {
	position: absolute;
	right: 1em;
	bottom: 1em;
	font-weight: normal;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.1em 0.2em;
	border-radius: 0.2em;
}

.hero .demo-info[href="#"] {
	visibility: hidden;
}

.hero .demo-info > strong {
	font-weight: bold;
}

.content {
	background: #fff;
	margin: 0 1em 7em 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: #0b0146;
}

.button {
	padding: 0.75em 1.1em;
	border-radius: 2em;
	display: inline-block;
	color: #fff;
	background-color: #4fc08d;
	box-sizing: border-box;
	border: 1px solid #4fc08d;
	text-decoration: none;
	margin-bottom: 10px;
	transition-properties: background-color, color, border-color;
	transition-duration: 250ms;
	transition-function: ease-out;
}

.button:not(.button-secondary):hover {
	background-color: #3aa173;
	border-color: #3aa173;
}

.button-secondary {
	background-color: transparent;
	color: #4fc08d;
}

.button-secondary:hover {
	border-color: #3aa173;
	color: #3aa173;
}

.button:not(:last-child) {
	margin-right: 20px;
}

.icon {
	font-size: 2rem;
}

.advantages {
	padding: 3em 0;
	background: #80808020;
}

.advantages > .title {
	text-align: center;
}

.advantages .inner {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 23em;
	padding: 1em 0;
	gap: 1em;
}

.point {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 2em;
	border: solid 2px #4fc08d;
	border-radius: 4px;
	overflow: hidden;
}

.point h3 {
	margin: 0;
	padding: 1em 0 0 0;
	font-size: 1.5em;
	color: #080443d6;
	font-weight: bold;
}

.point .button.icon-play {
	margin: 1em 0 0 0;
}

.point-info {
	margin-top: 0.5em;
	padding-bottom: 0.3em;
}

@media (hover: hover) {
	.point-info {
		opacity: 0;
	}

	.point > * {
		transform: translateY(50%);
		transition: transform 250ms ease-out;
	}

	.point:hover > * {
		transform: translateY(-10%);
	}

	.point:hover > .point-info {
		transform: translateY(-5%);
		opacity: 1;
	}
}

.support {
	text-align: center;
	padding: 2em;
}

.footer {
	font-size: 0.75em;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.footer .links {
	margin-top: 1em;
	font-size: 2em;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

.footer .links a {
	margin: 0.3em;
}

.footer .copyright {
	padding: 0.3em;
	width: 50%;
	margin: auto;
	font-size: 1.2em;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 9999;
	display: none;

}
#downloadOverlay {
	display: none;
	vertical-align: middle;
	text-align:center;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	width: 70%;
	height: 70%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
#videoOverlay {
	display: none;
	vertical-align: middle;
	text-align:center;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	width: 80%;
	height: 80%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

#closeOverlay {
	position: absolute;
	top:10px;
	left: 93%;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
#closeOverlay:hover {
	opacity: 1;
}
#closeOverlay:before, #closeOverlay:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
}
#closeOverlay:before {
	transform: rotate(45deg);
}
#closeOverlay:after {
	transform: rotate(-45deg);
}

@media screen and (max-width: 718px) {
	.nav-toggle {
		display: inline;
	}

	.nav-left {
		display: none;
		gap: 0;
		position: fixed;
		left: 0.5em;
		top: 0.5em;
		width: 65vw;
		height: calc(100vh - 3em);
		background-color: #15073e;
		flex-direction: column;
		padding: 2em 0 0 2em;
		justify-content: flex-start;
		z-index: 2;
		border-radius: 1em;
	}

	.nav-left > a {
		padding: 1em 0;
	}

	nav.visible .nav-left {
		display: flex;
	}

	nav.visible .nav-overlay {
		display: block;
	}

	.nav-right {
		padding-right: 0.5em;
	}
	
	.nav-right .icon {
		font-size: 1.5rem;
	}

	.hero {
		--gradient: linear-gradient(to right, #efefef, #efefef);
		background-color: rgba(255, 255, 255, 0.75);
		background-blend-mode: overlay;
		text-align: center;
	}

	nav,
	.hero,
	.content,
	.inner {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.hero .inner,
	.advantages .inner {
		padding: 0 1em;
	}

	.hero,
	.advantages {
		padding-left: 0;
		padding-right: 0;
	}

	.hero .button {
		margin-right: 0 !important;
	}

	.advantages .inner {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}
}

@media screen and (min-width: 718px) and (max-width: 1024px) {
	.nav-wrapper {
		left: 2em;
	}
	
	.nav-left {
		margin-right: auto;
	}

	.nav-right {
		margin-right: 4em;
	}

	.nav-right .icon {
		font-size: 1.8rem;
	}
	
	.hero .inner,
	.advantages .inner {
		padding: 0 3em;
	}

	.advantages .inner {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1264px) {
	.nav-right {
		margin-right: 4em;
	}

	.advantages .inner {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 2em;
	}
}