@charset "UTF-8";

@font-face {
  font-family: "icons";
  src: url("fonts/icons.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 0.15em;
}

.icon-docs:before {
  content: "\61";
}
.icon-github:before {
  content: "\62";
}
.icon-patreon:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-download:before {
  content: "\65";
}
.icon-donate:before {
  content: "\66";
}
.icon-discord:before {
  content: "\67";
}
.icon-discourse:before {
  content: "\68";
}
.icon-play:before {
  content: "\69";
}
.icon-lua:before {
  content: "\70";
  font-size: 4.0em;
}
.icon-native:before {
  content: "\71";
  font-size: 4.0em;
}
.icon-production:before {
  content: "\72";
  font-size: 4.0em;
}
.icon-free:before {
  content: "\73";
  font-size: 4.0em;
}
.icon-multiplatfrom:before {
  content: "\74";
  font-size: 4.0em;
}
.icon-opensource:before {
  content: "\75";
  font-size: 4.0em;
}
.icon-lock:before {
  content: "\76";
  font-size: 4.0em;
}
.icon-plugin:before {
  content: "\78";
  font-size: 4.0em;
}
.icon-people:before {
  content: "\79";
  font-size: 4.0em;
}
.icon-fast:before {
  content: "\60";
  font-size: 4.0em;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(fonts/SourceSansPro-Light.ttf) format('truetype');
}


body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  background: #15073e;
  color: #fff;
}

.content {
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  color: #0b0146;
  padding: 3em 0 3em 0;
}

#header {
  width: 100%;
}

#header h1 {
  font-weight: 300;
  margin: 0;
  font-size: 3.2em;
}

#header .inner {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 980px;
}

.left, .right{
  padding: 0px;
  margin: 0px;
  width: 50%;
  display: inline-block;
}
.left {
  text-align: right;
}
.right {
  text-align: left;
}

.lr {
  padding: 20px;
}

#header img {
  object-fit: contain;
  object-position: right;
  height: 145px;
  width: 100%
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 0;
}

#header .description {
  text-align: center;
  font-size: 1.1em;
  font-weight: 200;
  margin: 0.5em 0 2em 0;
}

.button {
  padding: 0.75em 1.1em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
  text-decoration: none;
  margin-bottom: 10px;
}

.button:not(:last-child) {
  margin-right: 20px;
}

.support-btn {
  background-color: #fff;
  color: #0b0146;
}

.footer {
  font-size: 0.75em;
  text-align: center;
}

.footer .links {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.footer .links a {
  margin: 0.3em;
}

.footer .copyright {
  padding: 0.3em;
  width: 50%;
  margin: auto;
  font-size: 1.2em;
}

.advantages .inner {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.point {
  min-width: 250px;
  text-align: center;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 2em;
}

.point h3 {
  margin: 0;
  padding: 1em 0 0 0;
  font-size: 1.5em;
  color: #080443d6;
  font-weight: 200;
}
.point p {
  margin-top: 0.5em;
  padding-bottom: 0.3em;
}

.advantages {
  padding: 1em 0 1em 0;
  background: #80808020;
}

.support {
  text-align: center;
  padding: 2em 2em 0 2em;
}

@media all and (max-width: 800px) {
  .left, .right{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .content {
    margin: 20px;
    border-radius: 20px;
    padding: 1em 0 1em 0;
  }
  #header .inner {
    padding: 0;
    width: 90%;
  }
  #header h1 {
    font-size: 2.5em;
  }
  #header img {
    object-position: center;
  }
  #header {
    text-align: center;
  }
  .lr {
    padding: 0;
  }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  display: none;

}
#downloadOverlay {
  display: none;
  vertical-align: middle;
  text-align:center;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 70%;
  height: 70%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#videoOverlay {
  display: none;
  vertical-align: middle;
  text-align:center;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 80%;
  height: 80%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#closeOverlay {
  position: absolute;
  top:10px;
  left: 93%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#closeOverlay:hover {
  opacity: 1;
}
#closeOverlay:before, #closeOverlay:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#closeOverlay:before {
  transform: rotate(45deg);
}
#closeOverlay:after {
  transform: rotate(-45deg);
}
